/*-------------------------------------------------------------*/
/* NAVIGATION */
/*-------------------------------------------------------------*/
/* Bouton sandwich */
.menu-btn {
  display: none;        /* Masqué par défaut (visible uniquement sur mobile) */
  font-size: 2rem;      /* Taille de police */
  cursor: pointer;      /* Indiquer élément cliquable */
  color: white;
  background: none;
  border: none;
  z-index: 1001;        /* Placer le bouton devant */
}

/* Barre de navigation */
.main-nav {
  flex: 1;                  /* Centrage */
  display: flex;            /* Visible */
  justify-content: center;  /* Centrer */
  background-color: #0047AB;
  gap: 50px;
}

/* Liste de la barre e navigation : visible sur desktop */
.main-nav ul {
  display: flex;            /* Visible */
  list-style: none;         /* Ne pas mettre de tirets */
  flex-direction: row;      /* Organiser en ligne */
  background-color: transparent;    
  gap: 50px;
  padding: 10px;
  margin: 0px;
  transition: left 0.3s ease; /* Animation fluide */
}

/* Liens du menu */
.main-nav ul a {
  text-decoration: none;    /* Ne pas souligner */
  color: white;
}

/*-------------------------------------------------------------*/
/* CURSEUR THEME */
/*-------------------------------------------------------------*/
/* Bouton de theme */
.themeBtn {
  display: flex;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;      /* Indiquer élément cliquable */
  margin-left: auto;
  padding: 10px;
}

/* Icône statique */
#themeBtn::after {
  content: "☀️";
  font-size: large;
}

/* Mode sombre → icône statique */
body.dark #themeBtn::after {
  content: "🌙";
  font-size: large;
}

/* Animation UNIQUEMENT pendant la transition */
body.theme-transition #themeBtn {
  animation: themeSwitch 0.6s ease;
}

/* Animation */
@keyframes themeSwitch {
  0%   { transform: scale(1) rotate(0deg); }
  50%  { transform: scale(1.5) rotate(180deg); }
  100% { transform: scale(1) rotate(360deg); }
}

/*-------------------------------------------------------------*/
/* MOBILE */
/*-------------------------------------------------------------*/
@media (max-width: 767px) {
  /* Bouton menu visible sur mobile */
  .menu-btn {
    display: block;
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1001;
  }

  /* Masquer la liste par défaut sur mobile */
  .main-nav ul {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50px;
    left: -100%;
    width: 80%;
    max-width: 200px;
    height: 500px;
    background-color: rgba(167, 186, 183, 0.95);
    padding: 10px 0;
    gap: 20px;
    margin: 30px 0;
    list-style: none;
    transition: left 0.3s ease-in-out;
    align-items: center;      /* Alignement horizontal des éléments */
  }

  /* Afficher la liste quand le menu est actif */
  .main-nav.active ul {
    left: 0;
  }
}