/*-------------------------------------------------------------*/
/* CSS Principal */
/*-------------------------------------------------------------*/

body {
  min-height: 10px;
  margin: 0;
  padding: 0;

  font-family: Calibri, Helvetica, sans-serif;
  font-size: large;

  position: relative;
  box-sizing: border-box;     /* Dimensions de la div */
}

#button {

  background-color: #0047AB;
  color: #ffffff;

  border-radius: 10px;
  padding: 20px 20px;
  margin: 20px 20px;

  text-decoration: none;  
}

#division {

  margin: 50px 10px;
  display: grid;
  grid-auto-flow: column; /* Les éléments s’affichent en colonne (en ligne) */
  gap: 10px;              /* Espace entre les éléments */
}

#title {

  margin: 20px 10px;
}

/*-------------------------------------------------------------*/
/* HEADER */
/*-------------------------------------------------------------*/
header {
  display: flex;
  align-items: center;
  justify-content: center;

  height: 50px;
  padding: 0 10px;

  background-color: #0047AB;
  color: white;

  z-index: 1000;
}

/*-------------------------------------------------------------*/
/* MAIN */
/*-------------------------------------------------------------*/
main {
  margin: 20px;
  padding: 0px;
  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* ---------- FOOTER ---------- */
/* footer {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 40px;
  padding: 5px 10px;

  background-color: #0047AB;
  color: white;

  box-sizing: border-box;
} */
